<h2><%= @event.name %></h2>
<p><b>Description: </b><%= @event.description %></p>
<p><b>Start: </b><%= @event.start_date %></p>
<p><b>End: </b><%= @event.end_date %></p>

<h3>Locations</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>        
    </tr>
    <% @event.locations.each do |i| %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.description %></td>
        </tr>
    <% end %>
</table>

<h3>Participants</h3>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>        
        <th>E-mail</th>
    </tr>
    <% @event.participants.each do |i| %>
        <tr>
            <td><%= i.first_name %></td>
            <td><%= i.last_name %></td>
            <td><%= i.email %></td>
        </tr>
    <% end %>
</table>